
.pier-bubble-menu--list {
    position: relative;
    border-radius: 8px;
    background-color: map-get($colorsGrays, white);
    border: 1px solid map-get($colorsGrays, light-1);
    font-family: $font-family;
    font-size: 18px;
    color: map-get($colorsCyan, default);
    overflow: hidden;
    top: 1rem;
    box-shadow: 0px 1px 5px 0px rgba(map-get($colorsBlue, dark-1), 0.2);
    min-width: 12rem;
    line-height: 1.8;
    white-space: nowrap;
    text-align: left;
}

.pier-bubble-menu--list-link {
    padding: .8rem 1rem;
    display: block;
}