.pier-button__bg {
   
	background: build-gradient(90deg, primaryBoulevard);
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: none;
	z-index: -1;
	border-radius: map-get($input-border-radii, md);
	
  }
  
  .pier-button {
	 
	display: inline-block;
	position: relative;
	height: map-get($input-heights, md);
	z-index: 2;
	border-radius: map-get($input-border-radii, md);
	border: none;
	text-decoration: none;
	padding: 9px 25px;
	font-family: $font-family;
	font-size: map-get($input-text-sizes, md);
	cursor: pointer;
	
  }
  
  .pier_button__content {
	 color: map-get($colorsGrays, white);
  
  }

