.ggp-button {
	background: build-gradient(90deg, primaryBoulevard);
	font-family: Mulish;
	font-weight: 600;
	font-size: 24px;
	padding: 12px 24px;
	border-radius: 100px;
	border: none;
	cursor: pointer;
	color: map-get($colorsGrays, white);
	text-shadow: 0 1px 4px rgba(map-get($colorsGrays, dark), 0.25);
}