.container {

}

.pier-button__bg {
  background: build-gradient(90deg, primaryBoulevard);
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: none;
  z-index: -1;
  border-radius: map-get($input-border-radii, md);

  &:hover {

    &:after {
      content: "";
      position: absolute;
      left: 1px;
      right: 1px;
      top: 1px;
      bottom: 1px;
      z-index: -3;
      border-radius: map-get($input-border-radii, md);
      background: map-get($colorsGrays, white);

    }
  }
  &:active {
    &:after {
      content: "";
      position: absolute;
      left: 1px;
      right: 1px;
      top: 1px;
      bottom: 1px;
      z-index: -3;
      border-radius: map-get($input-border-radii, md);
      background: map-get($colorsGreen, light-4);
    }
  }

  &:focus {
    background: build-gradient(90deg, primaryBoulevard);
  }
}

.pier-button {
  display: inline-block;
  position: relative;
  height: map-get($input-heights, md);
  z-index: 2;
  border-radius: map-get($input-border-radii, md);
  border: none;
  padding: 9px 24px;
  font-family: $font-family;
  font-size: map-get($input-text-sizes, md);
  margin: 0.5rem;
  cursor: pointer;

  &:hover {
    box-shadow: 2px 2px 6px rgba(0, 191, 232, 0.4);

}
}


span {
  
color: map-get($colorsGrays, white);



  &:hover {
    background: build-gradient(90deg, primaryBoulevard);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.pier-button--sm {

  display: inline-flex;
  font-family: $font-family;
  font-size: map-get($input-text-sizes, sm);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 20px;
  height: 34px;
  border-radius: map-get($input-border-radii, sm);
  border: none;
  background: map-get($colorsCyan, default);
  color: map-get($colorsGrays, white);
  margin: 0.5rem;
  cursor: pointer;

  &:hover {
    
    box-shadow: 1px 1px 5px rgba(0, 191, 232, 0.4);
    -webkit-box-shadow:inset 0px 0px 0px 1px map-get($colorsCyan, default);
    -moz-box-shadow:inset 0px 0px 0px 1px map-get($colorsCyan, default);
    box-shadow:inset 0px 0px 0px 1px map-get($colorsCyan, default);
    background: map-get($colorsGrays, white);
    color: map-get($colorsCyan, default);
    -webkit-border-radius: map-get($input-border-radii, sm);
    -webkit-transition-duration: 0.2s, 0.2s; 
    -webkit-transition-timing-function: linear, ease-in;
  }

  &:active {
    background: map-get($colorsCyan, light-4);
  }

  &:focus {
    box-shadow: 1px 1px 5px rgba(0, 191, 232, 0.4);
    -webkit-box-shadow:inset 0px 0px 0px 2px map-get($colorsCyan, light-3);
    -moz-box-shadow:inset 0px 0px 0px 2px map-get($colorsCyan, light-3);
    box-shadow:inset 0px 0px 0px 2px map-get($colorsCyan, light-3);
    -webkit-border-radius: map-get($input-border-radii, sm);
    -webkit-transition-duration: 0.2s, 0.2s; 
    -webkit-transition-timing-function: linear, ease-in;
  }
}

.pier-button--md {

  display: inline-flex;
  font-family: $font-family;
  font-size: map-get($input-text-sizes, md);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 25px;
  height: 44px;
  border-radius: map-get($input-border-radii, md);
  border: none;
  background: map-get($colorsCyan, default);
  color: map-get($colorsGrays, white);
  margin: 0.5rem;
  cursor: pointer;

  &:hover {
    
    box-shadow: 1px 1px 5px rgba(0, 191, 232, 0.4);
    -webkit-box-shadow:inset 0px 0px 0px 1px map-get($colorsCyan, default);
    -moz-box-shadow:inset 0px 0px 0px 1px map-get($colorsCyan, default);
    box-shadow:inset 0px 0px 0px 1px map-get($colorsCyan, default);
    background: map-get($colorsGrays, white);
    color: map-get($colorsCyan, default);
    -webkit-border-radius: map-get($input-border-radii, md);
    -webkit-transition-duration: 0.2s, 0.2s; 
    -webkit-transition-timing-function: linear, ease-in;
  }

  &:active {
    background: map-get($colorsCyan, light-4);
  }

  &:focus {
    box-shadow: 1px 1px 5px rgba(0, 191, 232, 0.4);
    -webkit-box-shadow:inset 0px 0px 0px 2px map-get($colorsCyan, light-3);
    -moz-box-shadow:inset 0px 0px 0px 2px map-get($colorsCyan, light-3);
    box-shadow:inset 0px 0px 0px 2px map-get($colorsCyan, light-3);
    -webkit-border-radius: map-get($input-border-radii, md);
    -webkit-transition-duration: 0.2s, 0.2s; 
    -webkit-transition-timing-function: linear, ease-in;
  }
}

.pier-button--lg {

  display: inline-flex;
  font-family: $font-family;
  font-size: map-get($input-text-sizes, lg);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 31px;
  height: 60px;
  border-radius: map-get($input-border-radii, lg);
  border: none;
  background: map-get($colorsCyan, default);
  color: map-get($colorsGrays, white);
  margin: 0.5rem;
  cursor: pointer;

  &:hover {
    
    box-shadow: 1px 1px 5px rgba(0, 191, 232, 0.4);
    -webkit-box-shadow:inset 0px 0px 0px 1px map-get($colorsCyan, default);
    -moz-box-shadow:inset 0px 0px 0px 1px map-get($colorsCyan, default);
    box-shadow:inset 0px 0px 0px 1px map-get($colorsCyan, default);
    background: map-get($colorsGrays, white);
    color: map-get($colorsCyan, default);
    -webkit-border-radius: map-get($input-border-radii, lg);
    -webkit-transition-duration: 0.2s, 0.2s; 
    -webkit-transition-timing-function: linear, ease-in;
  }

  &:active {
    background: map-get($colorsCyan, light-4);
  }

  &:focus {
    box-shadow: 1px 1px 5px rgba(0, 191, 232, 0.4);
    -webkit-box-shadow:inset 0px 0px 0px 2px map-get($colorsCyan, light-3);
    -moz-box-shadow:inset 0px 0px 0px 2px map-get($colorsCyan, light-3);
    box-shadow:inset 0px 0px 0px 2px map-get($colorsCyan, light-3);
    -webkit-border-radius: map-get($input-border-radii, lg);
    -webkit-transition-duration: 0.2s, 0.2s; 
    -webkit-transition-timing-function: linear, ease-in;
  }
}

.pier-button--disabled {
  opacity: 0.40;
  display: inline-flex;
  font-family: $font-family;
  font-size: map-get($input-text-sizes, md);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 25px;
  height: 44px;
  border-radius: map-get($input-border-radii, md);
  border: none;
  background: build-gradient(90deg, primaryBoulevard);
  color: map-get($colorsGrays, white);
  margin: 0.5rem;

}

.pier-button-pill--sm {
  display: inline-flex;
  font-family: $font-family;
  font-size: map-get($input-text-sizes, sm);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 20px;
  height: 34px;
  border-radius: map-get($input-border-pill, sm);
  border: none;
  background: map-get($colorsCyan, default);
  color: map-get($colorsGrays, white);
  margin: 0.5rem;
  cursor: pointer;

  &:hover {
    
    box-shadow: 1px 1px 5px rgba(0, 191, 232, 0.4);
    -webkit-box-shadow:inset 0px 0px 0px 1px map-get($colorsCyan, default);
    -moz-box-shadow:inset 0px 0px 0px 1px map-get($colorsCyan, default);
    box-shadow:inset 0px 0px 0px 1px map-get($colorsCyan, default);
    background: map-get($colorsGrays, white);
    color: map-get($colorsCyan, default);
    -webkit-border-radius: map-get($input-border-pill, sm);
    -webkit-transition-duration: 0.2s, 0.2s; 
    -webkit-transition-timing-function: linear, ease-in;
  }

  &:active {
    background: map-get($colorsCyan, light-4);
  }

  &:focus {
    box-shadow: 1px 1px 5px rgba(0, 191, 232, 0.4);
    -webkit-box-shadow:inset 0px 0px 0px 2px map-get($colorsCyan, light-3);
    -moz-box-shadow:inset 0px 0px 0px 2px map-get($colorsCyan, light-3);
    box-shadow:inset 0px 0px 0px 2px map-get($colorsCyan, light-3);
    -webkit-border-radius: map-get($input-border-pill, sm);
    -webkit-transition-duration: 0.2s, 0.2s; 
    -webkit-transition-timing-function: linear, ease-in;
  }
}

.pier-button-pill--md {
  display: inline-flex;
  font-family: $font-family;
  font-size: map-get($input-text-sizes, md);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 25px;
  height: 44px;
  border-radius: map-get($input-border-pill, sm);
  border: none;
  background: map-get($colorsCyan, default);
  color: map-get($colorsGrays, white);
  margin: 0.5rem;
  cursor: pointer;

  &:hover {
    
    box-shadow: 1px 1px 5px rgba(0, 191, 232, 0.4);
    -webkit-box-shadow:inset 0px 0px 0px 1px map-get($colorsCyan, default);
    -moz-box-shadow:inset 0px 0px 0px 1px map-get($colorsCyan, default);
    box-shadow:inset 0px 0px 0px 1px map-get($colorsCyan, default);
    background: map-get($colorsGrays, white);
    color: map-get($colorsCyan, default);
    -webkit-border-radius: map-get($input-border-pill, sm);
    -webkit-transition-duration: 0.2s, 0.2s; 
    -webkit-transition-timing-function: linear, ease-in;
  }

  &:active {
    background: map-get($colorsCyan, light-4);
  }

  &:focus {
    box-shadow: 1px 1px 5px rgba(0, 191, 232, 0.4);
    -webkit-box-shadow:inset 0px 0px 0px 2px map-get($colorsCyan, light-3);
    -moz-box-shadow:inset 0px 0px 0px 2px map-get($colorsCyan, light-3);
    box-shadow:inset 0px 0px 0px 2px map-get($colorsCyan, light-3);
    -webkit-border-radius: map-get($input-border-pill, sm);
    -webkit-transition-duration: 0.2s, 0.2s; 
    -webkit-transition-timing-function: linear, ease-in;
  }
}

.pier-button-pill--lg {
  display: inline-flex;
  font-family: $font-family;
  font-size: map-get($input-text-sizes, lg);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 31px;
  height: 60px;
  border-radius: map-get($input-border-pill, sm);
  border: none;
  background: map-get($colorsCyan, default);
  color: map-get($colorsGrays, white);
  margin: 0.5rem;
  cursor: pointer;

  &:hover {
    
    box-shadow: 1px 1px 5px rgba(0, 191, 232, 0.4);
    -webkit-box-shadow:inset 0px 0px 0px 1px map-get($colorsCyan, default);
    -moz-box-shadow:inset 0px 0px 0px 1px map-get($colorsCyan, default);
    box-shadow:inset 0px 0px 0px 1px map-get($colorsCyan, default);
    background: map-get($colorsGrays, white);
    color: map-get($colorsCyan, default);
    -webkit-border-radius: map-get($input-border-pill, sm);
    -webkit-transition-duration: 0.2s, 0.2s; 
    -webkit-transition-timing-function: linear, ease-in;
  }

  &:active {
    background: map-get($colorsCyan, light-4);
  }

  &:focus {
    box-shadow: 1px 1px 5px rgba(0, 191, 232, 0.4);
    -webkit-box-shadow:inset 0px 0px 0px 2px map-get($colorsCyan, light-3);
    -moz-box-shadow:inset 0px 0px 0px 2px map-get($colorsCyan, light-3);
    box-shadow:inset 0px 0px 0px 2px map-get($colorsCyan, light-3);
    -webkit-border-radius: map-get($input-border-pill, sm);
    -webkit-transition-duration: 0.2s, 0.2s; 
    -webkit-transition-timing-function: linear, ease-in;
  }
}

