$hr-sizes: (
	lg: 4px,
	md: 2px,
	sm: 1px
);

$hr-themes: (
	white: map-get($colorsGrays , white),
	lighter: map-get($colorsGrays , lighter),
	light: map-get($colorsGrays , light),
	light-gray: map-get($colorsGrays , light-gray),
	gray: map-get($colorsGrays , gray),
	dark: map-get($colorsGrays , dark),
	darker: map-get($colorsGrays , darker),
	hero: build-gradient(90deg, primaryBoulevard)
);

$default-size: sm;
$default-theme: light;

.pier-hr {
	width: 100%;
	height: map-get($hr-sizes, $default-size);
	background: map-get($hr-themes, $default-theme);
	margin: 0;
	border-radius: 100rem;
}


@each $prefix, $size in $hr-sizes {
	.pier-hr--#{$prefix} {
		height: $size;
	}
  }

  @each $prefix, $theme in $hr-themes {
	.pier-hr--#{$prefix} {
		background: $theme;
	}
  }
