$default-size: md;

$height-multiplier: 2.5;

.pier-input-textarea {
  
  font-family: $font-family;
  color: map-get($colorsGrays, darker);
  text-align: left;
  display: block;
  width: 100%;
  text-rendering: geometricPrecision;
  touch-action: manipulation;
  appearance: none;
  background-repeat: no-repeat;
  user-select: none;
  border: 1px solid map-get($colorsGrays, gray-3);
  resize: vertical;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  line-height: 1.55rem;
  height: map-fetch($input-heights, ($default-size, desktop)) * $height-multiplier;
  border-radius: map-fetch($input-border-radii, $default-size);
  padding: map-fetch($input-textarea-padding, ($default-size, desktop));
  font-size: map-fetch($input-text-sizes, ($default-size, desktop));

  @include build-media-query(mobile) {
    height: map-fetch($input-heights, ($default-size, desktop)) * $height-multiplier;
    padding: map-fetch($input-textarea-padding, ($default-size, mobile));
    font-size: map-fetch($input-text-sizes, ($default-size, mobile));
  }


  &::placeholder {
    color: map-get($colorsGrays, gray-3);
  }

  &:hover {
    border: 1px solid map-get($colorsGrays, dark-1);
  }

  &:focus {
    @include build-input-focus-state(map-get($colorsBlue, dark-1));
    box-shadow: 0px 0px 5px 0px rgba(map-fetch($colorsCyan, default), 0.5);
  }
}

@each $prefix, $size in $input-heights {
  .pier-input-textarea--#{$prefix} {
    height: map-fetch($input-heights, ($prefix, desktop)) * $height-multiplier;
    border-radius: map-fetch($input-border-radii, $prefix);
    padding: map-fetch($input-textarea-padding, ($prefix, desktop));
    font-size: map-fetch($input-text-sizes, ($prefix, desktop));

    @include build-media-query(mobile) {
      height: map-fetch($input-heights, ($prefix, desktop)) * $height-multiplier;
      padding: map-fetch($input-textarea-padding, ($prefix, mobile));
      font-size: map-fetch($input-text-sizes, ($prefix, mobile));
    }
  }
}

.pier-input-textarea--auto {
  resize: auto;
}

.pier-input-textarea--h {
  resize: horizontal;
}

.pier-input-textarea--d {
  resize: none;
}

.pier-input-textarea--disabled {
  opacity: 0.4;
  pointer-events: none;
  resize: none;
}

.pier-input-textarea--error {
  background: map-fetch($colorsRed, light-4);
  border: 1px solid map-get($colorsRed, default);

  &::placeholder {
    color: map-get($colorsRed, default);
  }

  &:hover {
    border: 1px solid map-get($colorsRed, dark-1);
  }

  &:focus {
    @include build-input-focus-state(map-get($colorsRed, dark-1));
  }
}

.pier-input-textarea--dark {
  color: map-get($colorsGrays, white);
  background: map-get($colorsGrays, dark-4);
  border: 1px solid map-get($colorsGrays, dark-2);

  &::placeholder {
    color: map-get($colorsGrays, dark-2);
  }

  &:focus {
    @include build-input-focus-state(map-get($colorsGrays, gray-1));
    border: 1px solid map-get($colorsCyan, dark-2);
  }
}

.pier-input-textarea--error.pier-input-textarea--dark {
  background: map-get($colorsGrays, dark-4);
  border: 1px solid map-get($colorsRed, dark-2);

  &::placeholder {
    color: map-get($colorsRed, dark-2);
  }

  &:hover {
    border: 1px solid map-get($colorsRed, default);
  }

  &:focus {
    @include build-input-focus-state(map-get($colorsRed, default));
  }
}

.pier-input-textarea--form {
  height: 150px;
}

