
.pier-input-group {
    display: block;
    width: 100%;
	margin-bottom: .5rem;
}

.pier-input-group__validation {
    font-family: $font-family;
    font-size: .75rem;
	margin-top: .2rem;
    color: map-get($colorsGrays, gray-4);
}

.pier-input-group__validation--error {
    color: map-get($colorsRed, default);
}