$default-size: md;

.pier-input-radio {
  margin: 1rem;
  display: inline-flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  height: map-fetch($input-heights, ($default-size, desktop));
  font-size: map-fetch($input-label-sizes, ($default-size, desktop));

  @include build-media-query(mobile) {
    height: map-fetch($input-heights, ($default-size, mobile));
    font-size: map-fetch($input-label-sizes, ($default-size, mobile));
  }
}

.pier-input-radio__input {
  appearance: none;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  font-family: $font-family;
  color: map-fetch($colorsGrays, light-gray);
}

.pier-input-radio__label {
  color: map-fetch($colorsGrays, gray);
}

.pier-input-radio__indicator {
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.41667rem;
  opacity: 1;
  border-width: 1px;
  border-style: solid;
  border-color: map-get($colorsGrays, light-gray);
  border-radius: 9999999px;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center center;
  transition-property: background-image, background-color, background-size, border-width,
    box-shadow;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

  &:hover {
    border: 1px solid map-get($colorsGrays, dark-1);
  }
  &:active {
    background-image: build-gradient(90deg, primaryBoulevard);
}
}

.pier-input-radio__indicator--lg {
  width: 1.5625rem;
  height: 1.5625rem;
  margin-right: 0.52083rem;
  border-radius: 9999999px;
}

.pier-input-radio__input:checked ~ .pier-input-radio__indicator {
  border-color: transparent;
  background-position: center center;
  background-size: 43% 43%, 110% 110%;
  background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='circle' class='svg-inline--fa fa-circle fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23FFFFFF' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z'%3E%3C/path%3E%3C/svg%3E"),
    build-gradient(90deg, primaryBoulevard);
}

.pier-input-radio__input:checked ~ .pier-input-radio__label {
  color: map-fetch($colorsGrays, dark-2);
}

.pier-input-radio__input:focus ~ .pier-input-radio__indicator {
  box-shadow: 0px 0px 5px 0px rgba(map-fetch($colorsCyan, light-1), 0.5);
}

.pier-input-radio--error {
  .pier-input-radio__indicator {
    border-color: map-get($colorsRed, default);

    &:hover {
      border-color: map-get($colorsRed, dark-1);
    }
    &:active {
      background-image: none;
      background-color: map-get($colorsRed, default);
}
  }

  .pier-input-radio__input:checked ~ .pier-input-radio__indicator {
    border-color: map-get($colorsRed, default);
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='circle' class='svg-inline--fa fa-circle fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23FFFFFF' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z'%3E%3C/path%3E%3C/svg%3E");
    background-color: map-get($colorsRed, default);
  }

  .pier-input-radio__input:focus ~ .pier-input-radio__indicator {
    box-shadow: 0px 0px 5px 0px rgba(map-fetch($colorsRed, default), 0.5);
  }
}

.pier-input-radio--dark {
  color: map-fetch($colorsGrays, gray);

  .pier-input-radio__indicator {
    border-color: map-get($colorsGrays, gray);

    &:hover {
      border-color: map-get($colorsGrays, light-gray);
    }
  }

  .pier-input-radio__input:checked ~ .pier-input-radio__indicator{
    border-color: transparent;
  }
  
  .pier-input-radio__input:checked ~ .pier-input-radio__label {
    color: map-fetch($colorsGrays, light-gray);
  }
}

.pier-input-radio--disabled {
  opacity: 0.4;
  pointer-events: none;
}

@each $prefix, $size in $input-heights {
  .pier-input-radio--#{$prefix} {
    height: map-fetch($input-heights, ($prefix, desktop));
    font-size: map-fetch($input-label-sizes, ($prefix, desktop));

    @include build-media-query(mobile) {
      height: map-fetch($input-heights, ($prefix, mobile));
      font-size: map-fetch($input-label-sizes, ($prefix, mobile));
    }
  }
}
