.pier-input-text {
    position: relative;
    box-sizing: border-box;
    border: 1px solid map-get($colorsGrays, gray-3);
    //background: build-gradient(90deg, primaryBoulevard);
    border-radius: 8px;
    height: 44px;
    width: 100%;
    padding: 4px 16px;
    font-family: mulish, sans-serif;
    font-size: 16px;
    color: map-get($colorsGrays, dark-1);
    transition: transform .1s ease-in-out;
  
    &::placeholder {
      color: map-get($colorsGrays, gray-3);
    }
  
    &:hover {
      border: 1px solid map-get($colorsGrays, dark-1);
    }
  
    &:focus {
      box-shadow: 0px 1px 7px 0px rgba(map-get($colorsBlue, dark-1), .2);
      outline: none;
      border-color: map-get($colorsBlue, dark-1);
    }
  
    &:active {
      transform: scale(.99);
    }
  }
  
  .pier-input-text--error {
    border: 1px solid red;
  
    &:hover {
      border: 1px solid red;
    }
  
    &:focus {}
  }
  