$default-size: md;

.pier-input-text {
  position: relative;
  box-sizing: border-box;
  border: 1px solid map-get($colorsGrays, gray-3);
  width: 100%;
  margin: 0.5rem;
  font-family: $font-family;
  color: map-get($colorsGrays, dark-1);
  transition: 0.1s ease-in-out;

  &::placeholder {
    color: map-get($colorsGrays, gray-3);
  }

  &:hover {
    border: 1px solid map-get($colorsGrays, dark-1);
  }

  &:focus {
    box-shadow: 0px 1px 7px 0px rgba(map-get($colorsBlue, dark-1), 0.2);
    outline: none;
    border-color: map-get($colorsBlue, dark-1);
  }
}

@each $prefix, $size in $input-heights {
  .pier-input-text--#{$prefix} {
    height: map-fetch($input-heights, ($prefix, desktop));
    border-radius: map-fetch($input-border-radii, $prefix);
    padding: 0 map-fetch($input-padding, ($prefix, desktop));
    font-size: map-fetch($input-text-sizes, ($prefix, desktop));

    @include build-media-query(mobile) {
      height: map-fetch($input-heights, ($prefix, mobile));
      padding: 0 map-fetch($input-padding, ($prefix, mobile));
      font-size: map-fetch($input-text-sizes, ($prefix, mobile));
    }
  }
}

.pier-input-text--error {
  background: map-fetch($colorsRed, light-4);
  border: 1px solid map-get($colorsRed, default);

  &::placeholder {
    color: map-get($colorsRed, default);
  }

  &:hover {
    border: 1px solid map-get($colorsRed, dark-1);
  }

  &:focus {
    box-shadow: 0px 1px 7px 0px rgba(map-get($colorsRed, dark-1), 0.25);
    outline: none;
    border: 1px solid map-get($colorsRed, dark-1);
  }
}
