
@keyframes rotate {
    from { transform: rotate(0deg);   }
    to   { transform: rotate(360deg); }
}

@keyframes example {
    from {background-color: #00ce7c;}
    to {background-color: #4ac1e0;}
  }

  @keyframes dash {
    to {
      stroke-dashoffset: 800;
    }
  }

.pier-loading-spinner {
    animation: rotate 1s linear infinite;
    height: 50px;
    width: 50px;
}

.pier-loading-spinner--sm {
    animation: rotate 1s linear infinite;
    height: 40px;
    width: 40px;

}

.pier-loading-spinner--lg {
    animation: rotate 1s linear infinite;
    height: 60px;
    width: 60px;
}

.pier-loading-spinner--md {
    animation: rotate 1s linear infinite;
    height: 50px;
    width: 50px;
}

.loader-animation {
    color: #4ac1e0;
    animation-name: example;
    animation-duration: 4s;
}

.path {
    stroke-dasharray: 400;
    animation: dash 3s ease-in-out infinite;
}


  