
@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.pier-loading-spinner {
    animation: rotate 1s linear infinite;
    background: build-gradient(90deg, primaryBoulevard);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        border-radius: 50%;
        background: linear-gradient(0deg, hsla(0, 0%, 100%, 1) 50%, hsla(0, 0%, 100%, 0.9) 100%) 0% 0%,
            linear-gradient(90deg, hsla(0, 0%, 100%, 0.9) 0%, hsla(0, 0%, 100%, 0.6) 100%) 100% 0%,
            linear-gradient(180deg, hsla(0, 0%, 100%, 0.6) 0%, hsla(0, 0%, 100%, 0.3) 100%) 100% 100%,
            linear-gradient(360deg, hsla(0, 0%, 100%, 0.3) 0%, hsla(0, 0%, 100%, 0) 100%) 0% 100%;
        background-repeat: no-repeat;
        background-size: 50% 50%;
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        //add some easing to animation
    }

    &::after {
        content: '';
        position: absolute;
        background: map-get($colorsGrays, white);
        border-radius: 50%;
        top: 8%;
        bottom: 8%;
        left: 8%;
        right: 8%;
    }
}

.pier-loading-spinner--dark {
	background: build-gradient(90deg, primaryBoulevard);
    &::before {
		content: '';
        position: absolute;
        border-radius: 50%;
		background: 
		linear-gradient(0deg, hsla(206, 50%, 11%, 1) 50%, hsla(206, 50%, 11%, 0.9) 100%) 0% 0%,
		linear-gradient(90deg, hsla(206, 50%, 11%, 0.9) 0%, hsla(206, 50%, 11%, 0.6) 100%) 100% 0%,
		linear-gradient(180deg, hsla(206, 50%, 11%, 0.6) 0%, hsla(206, 50%, 11%, 0.3) 100%) 100% 100%,
		linear-gradient(360deg, hsla(206, 50%, 11%, 0.3) 0%, hsla(206, 50%, 11%, 0) 100%) 0% 100%;	
		background-repeat: no-repeat;
        background-size: 50% 50%;
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;		
    }
    &::after {
        background: map-get($colorsGrays, dark-4);
    }
}

.pier-loading-spinner3 {
	animation: spinningColor 1.5s ease-in-out infinite;
	margin: 0;
	border: 5px solid map-get($colorsGrays, light-1);
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

  