$heading-sizes: (
	xs: 1.125rem,
	sm: 1.5rem,
	md: 2.25rem,
	lg: 3rem
);

.pier-heading {
	font-family: $font-family;
	font-weight: $font-weight-bold;
	font-size: map-get($heading-sizes, "md");
	color: map-get($colorsGrays, 'darker');
	line-height: auto;
}

.pier-heading--dark {
	color: map-get($colorsGrays, 'white');
}

@each $prefix, $size in $heading-sizes {
	.pier-heading--#{$prefix} {
		font-size: $size;
	}
}