$default-size: md;

$heading-sizes: (
	xs: (
		mobile: 1rem,
		desktop: 1.125rem
	),
	sm: (
		mobile: 1.25rem,
		desktop: 1.5rem
	),
	md: (
		mobile: 2rem,
		desktop: 2.25rem
	),
	lg: (
		mobile: 2.5rem,
		desktop: 3rem
	)
);

.pier-heading {
	font-family: $font-family;
	font-weight: $font-weight-bold;
	font-size: map-fetch($heading-sizes, ($default-size, desktop));
	color: map-fetch($colorsGrays, darker);
	line-height: auto;
	margin-bottom: map-fetch($heading-sizes, ($default-size, desktop)) - .25rem;

	@include build-media-query(mobile) {
		font-size: map-fetch($heading-sizes, ($default-size, mobile));
		margin-bottom: map-fetch($heading-sizes, ($default-size, mobile)) - .25rem;
	}
}

.pier-heading--dark {
	color: map-fetch($colorsGrays, white);
}

@each $prefix, $size in $heading-sizes {
	.pier-heading--#{$prefix} {
		font-size: map-fetch($size, desktop);
		margin-bottom: map-fetch($size, desktop) - .25rem;

		@include build-media-query(mobile) {
			font-size: map-fetch($size, mobile);
			margin-bottom: map-fetch($size, mobile) - .25rem;
		}
	}
}

.pier-heading--primary {
	color: map-get($colorsCyan, dark-1);
}

.pier-heading--error {
	color: map-get($colorsRed, default);
}

.pier-heading--green {
	color: map-get($colorsGreen, dark-1);
}

.pier-heading--blue {
	color: map-get($colorsBlue, default);
}