$codeblock-sizes: (
	xs: .75rem,
	sm: .875rem,
	md: 1rem
);

.pier-codeblock {
	font-family: $font-family-code;
	font-weight: $font-weight-medium;
	font-size: map-get($codeblock-sizes , md);
	color: map-get($colorsGrays, dark);
	line-height: 1;
	white-space: break-spaces;
}

.pier-codeblock--dark {
	color: map-get($colorsGrays, lighter);
}

@each $prefix, $size in $codeblock-sizes {
	.pier-codeblock--#{$prefix} {
		font-size: $size;
	}
}