[data-tooltip] {
    position: relative;
    display: inline-block;
    font-family: $font-family;

    &::before {
        content: '';
        position: absolute;
        background: transparent;
        border: 6px solid transparent;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: hidden;
        opacity: 0;
        z-index: 1000000;
        pointer-events: none;
        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        transition: 0.3s ease;
        -webkit-transition-delay: 0ms;
        -moz-transition-delay: 0ms;
        transition-delay: 0ms;
    }

    &::after {
        content: attr(data-tooltip);
        background: map-get($colorsGrays, dark-3);
        color: white;
        padding: 8px 10px;
        font-size: 12px;
        line-height: 12px;
        white-space: nowrap;
        border-radius: 8px;
        position: absolute;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: hidden;
        opacity: 0;
        z-index: 1000000;
        pointer-events: none;
        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        transition: 0.3s ease;
        -webkit-transition-delay: 0ms;
        -moz-transition-delay: 0ms;
        transition-delay: 0ms;
        text-shadow: 0 -1px 0 black;
    }
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    transition-delay: 100ms;
}

[data-tooltip='']:before,
[data-tooltip='']:after {
    display: none !important;
}

// Tooltip positioning

.pier-tooltip--top {
    &:before {
        border-top-color: map-get($colorsGrays, dark-3);
        margin-bottom: -11px;
        bottom: 100%;
        left: 50%;
        left: calc(50% - 6px);
        -webkit-transform: translateY(-8px);
        -moz-transform: translateY(-8px);
        transform: translateY(-8px);
    }

    &:after {
        bottom: 100%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-8px);
        -moz-transform: translateX(-50%) translateY(-8px);
        transform: translateX(-50%) translateY(-8px);
    }
}

.pier-tooltip--bottom {
    &:before {
        border-bottom-color: map-get($colorsGrays, dark-3);
        margin-top: -11px;
        top: 100%;
        left: 50%;
        left: calc(50% - 6px);
        -webkit-transform: translateY(8px);
        -moz-transform: translateY(8px);
        transform: translateY(8px);
    }

    &:after {
        top: 100%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(8px);
        -moz-transform: translateX(-50%) translateY(8px);
        transform: translateX(-50%) translateY(8px);
    }
}

.pier-tooltip--left {
    &::before {
        border-left-color: map-get($colorsGrays, dark-3);
        margin-right: -11px;
        margin-bottom: -6px;
        right: 100%;
        bottom: 50%;
        -webkit-transform: translateX(-8px);
        -moz-transform: translateX(-8px);
        transform: translateX(-8px);
    }

    &:after {
        margin-bottom: -14px;
        right: 100%;
        bottom: 50%;
        -webkit-transform: translateX(-8px);
        -moz-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}

.pier-tooltip--right {
    &:before {
        border-right-color: map-get($colorsGrays, dark-3);
        margin-left: -11px;
        margin-bottom: -6px;
        left: 100%;
        bottom: 50%;
        -webkit-transform: translateX(8px);
        -moz-transform: translateX(8px);
        transform: translateX(8px);
    }

    &:after {
        margin-bottom: -14px;
        left: 100%;
        bottom: 50%;
        -webkit-transform: translateX(8px);
        -moz-transform: translateX(8px);
        transform: translateX(8px);
    }
}

// Tooltip for block-level elements
.pier-tooltip--block {
    display: block;
    width: 100%;
}

// Large size
.pier-tooltip--lg {
    &:after {
        white-space: normal;
        line-height: 1.4em;
        font-size: 15px;
        width: auto;
        white-space: nowrap;
        padding-left: 14px;
        padding-right: 14px;
    }
}

// Hint themes

.pier-tooltip--dark {
    &:after {
        background-color: map-get($colorsGrays, dark-2);
        text-shadow: 0 -1px 0 map-get($colorsGrays, dark-3);
    }
}

.pier-tooltip--dark.pier-tooltip--top {
    &:before {
        border-top-color: map-get($colorsGrays, dark-2);
    }
}

.pier-tooltip--dark.pier-tooltip--bottom {
    &:before {
        border-bottom-color: map-get($colorsGrays, dark-2);
    }
}

.pier-tooltip--dark.pier-tooltip--left {
    &:before {
        border-left-color: map-get($colorsGrays, dark-2);
    }
}

.pier-tooltip--dark.pier-tooltip--right {
    &:before {
        border-right-color: map-get($colorsGrays, dark-2);
    }
}
.pier-tooltip--disabled {
    &:hover {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);

        &::before,
        &::after {
            visibility: hidden;
            opacity: 0;
        }
    }
}

.pier-tooltip--open {
    &::before,
    &::after {
        visibility: visible;
        opacity: 1;
    }
}

.pier-tooltip--left.pier-tooltip--open {
    &::before,
    &::after {
        -webkit-transform: translateX(-8px);
        -moz-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}
