$input-text-sizes: (
	sm: .875rem,
		// go down 2px sizes for mobile!
	md: 1.125rem,
	lg: 1.5rem
);

$input-text-line-height: 1;

$input-icon-sizes: (
	sm: 1.125rem,
	md: 1.5rem,
	lg: 2rem
);

$input-heights: (
	sm: 2.125rem,
	md: 2.75rem,
	lg: 3.75rem
);

$input-border-radii: (
	sm: .375rem,
	md: .5rem,
	lg: .625rem
);

$button-padding: (
	sm: 1.25rem,
	md: 1.563rem,
	lg: 1.938rem
);

$button-icon-padding: (
	sm: 0.5rem,
	md: 0.625rem,
	lg: 1rem
);


