$input-text-sizes: (
	sm: ( 
		desktop: .875rem,
		mobile: .75rem
	),
	md: (
		desktop: 1.125rem,
		mobile: 1rem
	),
	lg: (
		desktop: 1.5rem,
		mobile: 1.375rem
	)
);

$input-text-line-height: 1;

$input-icon-sizes: (
	sm: (
		desktop: 1.125rem,
		mobile: 1rem
	),
	md: (
		desktop: 1.5rem,
		mobile: 1.375rem
	),
	lg: (
		desktop: 2rem,
		mobile: 1.875rem
	)
);

$input-heights: (
	sm: (
		desktop: 2.125rem,
		mobile: 2
	),
	md: (
		desktop: 2.75rem,
		mobile: 2.625rem
	),
	lg: (
		desktop: 3.75rem,
		mobile: 3.625rem
	)
);

$input-border-radii: (
	sm: .375rem,
	md: .5rem,
	lg: .625rem
);

$input-padding: (
	sm: (
		desktop: 0.75rem,
		mobile: 0.625rem
	),
	md: (
		desktop: 0.875rem,
		mobile: 0.75rem
	),
	lg: (
		desktop: 1rem,
		mobile: 0.875rem
	)
);

$input-textarea-padding: (
	sm: (
		desktop: 0.375rem 0.75rem,
		mobile: 0.25 0.625rem
	),
	md: (
		desktop: 0.5rem 0.875rem,
		mobile: 0.375 0.75rem
	),
	lg: (
		desktop: 0.625rem 1rem,
		mobile: 0.5 0.875rem
	)
);

$button-padding: (
	sm: (
		desktop: 1.25rem,
		mobile: 1.125rem
	),
	md: (
		desktop: 1.563rem,
		mobile: 1.438rem
	),
	lg: (
		desktop: 1.938rem,
		mobile: 1.813rem
	)
);

$button-icon-padding: (
	sm: (
		desktop: 0.5rem,
		mobile: 0.438rem
	),
	md: (
		desktop: 0.625rem,
		mobile: 0.563rem
	),
	lg: (
		desktop: 1rem,
		mobile: 0.875rem
	)
);

		// go down 2px sizes for mobile!


