//https://developer.mozilla.org/en-US/docs/Web/CSS/cursor

.-cursor-default 		{cursor: default;}
.-cursor-pointer 		{cursor: pointer;}
.-cursor-none 			{cursor: none;}
.-cursor-auto 			{cursor: auto;}

.-cursor-wait 			{cursor: wait;}
.-cursor-progress 		{cursor: progress;}
.-cursor-help 			{cursor: help;}
.-cursor-context-menu 	{cursor: context-menu;}

.-cursor-cell 			{cursor: cell;}
.-cursor-crosshair 		{cursor: crosshair;}
.-cursor-text 			{cursor: text;}
.-cursor-vertical-text 	{cursor: vertical-text;}

.-cursor-alias 			{cursor: alias;}
.-cursor-copy 			{cursor: copy;}
.-cursor-move 			{cursor: move;}
.-cursor-no-drop 		{cursor: no-drop;}
.-cursor-not-allowed 	{cursor: not-allowed;}
.-cursor-grab 			{cursor: grab;}
.-cursor-grabbing 		{cursor: grabbing;}

.-cursor-all-scroll 	{cursor: all-scroll;}
.-cursor-col-resize 	{cursor: col-resize;}
.-cursor-row-resize 	{cursor: row-resize;}
.-cursor-n-resize 		{cursor: n-resize;}
.-cursor-s-resize 		{cursor: s-resize;}
.-cursor-e-resize 		{cursor: e-resize;}
.-cursor-w-resize 		{cursor: w-resize;}
.-cursor-nw-resize 		{cursor: nw-resize;}
.-cursor-ne-resize 		{cursor: ne-resize;}
.-cursor-sw-resize 		{cursor: sw-resize;}
.-cursor-se-resize 		{cursor: se-resize;}
.-cursor-ns-resize 		{cursor: ns-resize;}
.-cursor-ew-resize 		{cursor: ew-resize;}
.-cursor-nwse-resize 	{cursor: nwse-resize;}
.-cursor-nesw-resize 	{cursor: nesw-resize;}

.-cursor-zoom-in 		{cursor: zoom-in;}
.-cursor-zoom-out 		{cursor: zoom-out;}