//$grid-breakpoints coming from ./abstracts/grid.scss  

.-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
	  	$infix: breakpoint-infix($breakpoint, $grid-breakpoints);
	  	.-ellipsis#{$infix}  { 
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}