.-font-s-i {
	font-size: inherit;
}

.-font-f-i {
	font-family: inherit;
}

.-font-w-i {
	font-weight: inherit;
}

.-font-l-i {
	line-height: inherit;
}

.-font-a-i {
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	line-height: inherit;
}