.-box-shadow-1 {box-shadow: 0 0 2px rgba(map-get($colorsGrays, black), .125);}
.-box-shadow-2 {box-shadow: 0 0 4px rgba(map-get($colorsGrays, black), .2);}
.-box-shadow-3 {box-shadow: 0 0 8px rgba(map-get($colorsGrays, black), .25);}
.-box-shadow-4 {box-shadow: 0 0 12px rgba(map-get($colorsGrays, gray), .125);}
.-box-shadow-5 {box-shadow: 0 0 16px rgba(map-get($colorsGrays, gray), .2);}

.-text-shadow-1 {text-shadow: 0 0 2px rgba(map-get($colorsGrays, black), .125);}
.-text-shadow-2 {text-shadow: 0 0 4px rgba(map-get($colorsGrays, black), .2);}
.-text-shadow-3 {text-shadow: 0 0 6px rgba(map-get($colorsGrays, black), .25);}